<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for ('static', filename ='css/main.css') }}">
    <title>{% block title %}-{% endblock %}</title>
</head>

<body>
    <div class = "container"> 
        <header class="border-bottom mb-4">
            <nav class="navbar navbar-expand-lg">

            <div class="container">

            <a class="navbar-brand" href="{{ url_for('home') }}">
            <img class="header__img" src="{{ url_for('static', filename='img/head.png') }}">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">

            <ul class="navbar-nav me-auto">
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Главная</a>
            </li>

            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">О нас</a>
            </li>
            </ul>

            <div>

            {% if session.get('user') %}

            <a href="{{ url_for('profile') }}">
            <img src="{{ url_for('static', filename='img/user_logo.png') }}"
            width="40"
            style="border-radius:50%;">
            </a>

            <a href="{{ url_for('logout') }}" class="btn btn-outline-danger ms-2">
            Выход
            </a>

            {% else %}

            <a href="{{ url_for('login') }}" class="btn btn-outline-primary me-2">Войти</a>
            <a href="{{ url_for('sign_up') }}" class="btn btn-primary">Регистрация</a>

            {% endif %}

            </div>

            </div>
            </div>
            </nav>
        </header>
    
        {% block body %}-{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>